/* App.css */

/* Container styles */
body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background color */
  color: #fff; /* Light text color */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #1e1e1e; /* Slightly lighter container background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Input styles */
input[type="number"] {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #333; /* Darker border color */
  border-radius: 5px;
  width: 95%;
  background-color: #333; /* Darker input background color */
  color: #fff; /* Light text color */
  /* Remove up and down arrows (buttons) */
  -moz-appearance: textfield;
  appearance: none;
  /* Adjust input height and remove extra padding */
  height: 36px;
  padding-left: 10px;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Image styles */
.image img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}